.icons {
  background-color: transparent;
  background-repeat: no-repeat;
  height: 16px;
  padding: 0 0 0 16px
}

.icon-about {
  /* background-image: url(../img/icons/lightbulb.png) */
}

.icon-news {
  /* background-image: url(../img/icons/newspaper.png) */
}

.icon-download {
  /* background-image: url(../img/icons/box_down.png) */
}

.icon-contact {
  /* background-image: url(../img/icons/page.png) */
}

.icon-statistics {
  /* background-image: url(../img/icons/statistics.png) */
}

.icon-weblinks {
  /* background-image: url(../img/icons/link.png) */
}

.icon-logout {
  /* background-image: url(../img/icons/logout.png) */
}

.icon-module {
  /* background-image: url(../img/icons/module.png) */
}

.icon-drag {
  /* background-image: url(../img/icons/icon-drag.png) */
}

.icon-sitemanager {
  /* background-image: url(../img/icons/sitemanager.gif) */
}

.icon-users,
.icon-forum {
  /* background-image: url(../img/icons/group.png) */
}